@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<h4 style="margin-top:10px">Ahmad Syifaur Romli</h4>
<address>
    Cibinong, Bogor - Indonesia<br />
    WA (+62)85755027097<br />
    <abbr title="Phone">P:</abbr>
    XXX.555.0100
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:ahmadsyifaur11@gmail.com">ahmadsyifaur11@gmail.com</a><br />
    @*<strong>Marketing:</strong>*@ @*<a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
